body{
    margin: 0%;
    background-color: blanchedalmond;
}
h1{
    color: black;
    font-size: 50px;

}
.meni{

    color: red;
    margin: 30px;
}
img{
    margin: 30px;
}
P{
    font-size: large;
    color: black;
}

.cont{

    
}

