body{ 
    
    background-color: brown;
    margin:auto;
    margin-top: 80px;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    

}
h1{
    display: inline-block;
}




@keyframes rotate {

    

}