body {
    margin: 0;
    padding: 0;
    vertical-align: text-top;
    background-color: rgb(54, 48, 111);
    /* display: inline-block; */
    /* box-sizing: border-box; */
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: white;
}

.gore {
    /* height: 99px; */
    /* width: 1365px;; */
    /* background-color: lawngreen; */
    /* margin: auto; */
    /* padding: 10px; */
    
    
    
}
.prvi , .drugi , .treci , .cetvrti{
    display: inline-block;
    margin: 15px;
    text-align: center;
    font-size: 10px;
    border-bottom: 2px solid gray ;
    

}
.prvi{
    /* margin-left: 488px; */
    color: darkblue;
    border-bottom: 2px solid darkblue ;
}
.sredina{
    height: 300px;
    width: 400px;
    margin: auto;
    padding: auto;
    background-color: cornflowerblue;
    text-align: center;
    margin-top: 20px;
    
}
.dole{
    text-align: center;
    margin: auto;
    padding: auto;
    /* background-color: coral; */
    width: 700px;
}
.prviparagraf{
    font-size: 1.5em;
}

.drugiparagraf{
    text-align: center;
}
.mera{
    padding: 120px;
}